{% extends 'index.html' %}
{% block titulo %}Bienvenidoñ{% endblock %}
{% block encabezado %}
<h1 class = "titulo1">Bienvenido</h1>
{% endblock %}
{% block central %}


    <ul id="mainNav">
       
        <li><a href="/privado">Mapa</a></li>
       
        <li><a href="/administracion">Administrador</a></li>
        <li><a href="/admin/datos/accidente/add/">Ingresar Accidente</a></li>
        <li><a href="/">Salir</a></li>
    </ul>


<div id="dropcap"><h1 class="dropcap">Visualizador de Mapas en sistema
de información Geográfica.
</h1></div>



      

{% endblock %}
